.container{
    display: flex;
    margin-left: 5%;
    margin-top: 5%;
}

.container img{
    width: 300px;
    background-size: cover;
}

.card-div{
    margin-left: 5%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 800px;
    border-width: 3px;
    border-style: solid;
    border-image: 
        linear-gradient(
        to bottom, 
        rgb(124, 28, 21), 
        rgba(0, 0, 0, 0)
        ) 1 100%;
}

.name-div{
    padding-left: 5%;
    padding-top: 10px;
}

.details-div{
    font-size: 15px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    padding-left: 7%;
    padding-top: 10px;
}

.address-div{
    margin-left: 5%;
}

.address-div div{
    padding-left: 15px;
}

.info{
    position: absolute;
    top: 20px;
    left:45%;
    color: #FF416C;
}

.adress{
    position: absolute;
    top: 20px;
    right: 18%;
    color: #FF416C;
}